body {
  margin: 0;
  background-color: #f5f7f9;
  color: #004062;
  font-family: "aktiv-grotesk","Helvetica","Arial",sans-serif
}

header {
  display: flex;
  background-color: #FFF;
  color: #2877A0;
  height: 80px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 36px;
  margin: 0;
}

h3 {
  font-size: 28px;
  margin: 0;
}

h4 {
  font-size: 22px;
  margin: 0;
}

h5 {
  margin: 0;
  font-size: 20px;
}

.logo {
  max-width: 50%;
  display: inline-block;
  padding: 10px;
}

.logo img {
  height: 25px;
}

@keyframes toshow {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  justify-content: flex-start;
  margin: 15px 0;
  opacity: 0;
  animation: toshow 2s ease-out forwards;
}

.systemTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  margin-top: 130px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0eg)
  }
  25% {
    transform: rotateZ(-15deg)
  }
  50% {
    transform: rotateZ(0deg)
  }
  75% {
    transform: rotateZ(15deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

.business {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-width: 0px;
  border-style: solid;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: rotate 3s linear 0s infinite;
}

.business:hover {
  animation: none;
}

.time {
  margin-top: 10px;
}

.open {
  background-color: #5FBA81;
}

.close {
  background-color: #EA7264;
}

.operationTime {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.area-title {
  color: #004062;
  margin-right: 40px;
}


.area-content {
  color: #777;
}
